// 재렌더링시 서버와 클라이언트의 클래스명의 차이에 따라 발생하는 에러 대책
// 서버사이드에서 injected된 CSS를 제거한다.
// react-dom.development.js:67 Warning: Prop `className` did not match.
// Server: "sc-iCoHVE" Client: "sc-hKFyIo"
// Ref: https://github.com/vercel/next.js/issues/7423
{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]]
}
